<div class="claim">
<dl>
  <dt>Claim type:</dt>
  <dd><%= claim.claim_type %></dd>

  <dt>Active:</dt>
  <dd><%= claim.active %></dd>

  <dt>Claim location postcode:</dt>
  <dd><%= claim.claim_location_postcode %></dd>

  <dt>Cost:</dt>
  <dd><%= claim.cost %></dd>

  <dt>Date of loss:</dt>
  <dd><%= claim.date_of_loss %></dd>

<% unless claim.customers.empty? %>
  <dt>Customers</dt>
  <dd>
  <% claim.customers.each do |customer| %>
    <dl class="customer">
      <dt>Customer name:</dt>
      <dd><%= customer.customer_name %></dd>
      
      <dt>Customer postcode:</dt>
      <dd><%= customer.customer_postcode %></dd>

      <dt>Customer phone:</dt>
      <dd><%= customer.customer_phone %></dd>

      <dt>Customer dob:</dt>
      <dd><%= customer.customer_dob %></dd>
    </dl>
  <% end %>
  </dd>
<% end %>

<% unless claim.notes.empty? %>
  <dt>Notes</dt>
  <dd>
  <% claim.notes.each do |note| %>
    <dl>
      <dt>Author name:</dt>
      <dd><%= note.author_name %></dd>
      <dt>Note text:</dt>
      <dd><%= note.body_text %></dd>
      <dt>Date created:</dt>
      <dd><%= note.created_at %></dd>
    </dl>
  <% end %>
  </dd>
<% end %>
</dl>

<%= link_to 'Edit', edit_claim_path(claim) %> |
<%= link_to 'Show', claim_path(claim) %> | 
<%= link_to 'Destroy', claim, :confirm => 'Are you sure?', :method => :delete %>
</div>